body,html{
    height:vh;
    width:vw;
    background-color: #287984;
    margin:0;
    padding:0;
    color:white;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

.navbar{
    background-color: darkslategray;
}

.topnav li{
    margin: auto;
}

.topnav li a{
    color: whitesmoke;
}

.topnav li a:hover{
    color:white;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: medium;
}

a{
    color:rgb(185, 179, 179);
}

a:hover{
    text-decoration: none;
    color:white;
}

.container{
    margin-top: 8rem;
}

.starting-content {
    background-color: darkslategray;
}

.topInfo {
    animation:fadeInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; 
}

.topInfo span{
    font-weight: 800;
}

.topImg img {
    border:2px solid darkslategray;
    border-radius: 6px;
    animation:fadeInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; 
}

.btn1 , .btn2{
    color: darkslategray;
    border: none;
    margin-left: 1rem;
}

#about , #contact , #connect , #services{
    scroll-margin-top: 100px; /*fixes anchor tag landing lower than where it should */
}

.categories-area{
    animation:fadeInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; 
}

.col{
    border:2px solid  darkslategray;
    border-radius:6px;
    padding: 1rem 2rem;
    position:relative;
    z-index:1;
}

.picture{
    border:2px solid  darkslategray;
    border-radius:6px;
    position:relative;
    z-index:1;
}

.categories-area .col::before{
    position:absolute;
    content:"";
    width:100%;
    height:0;
    background:darkslategray;
    transition:.6s;
    bottom:0;
    left:0;
    z-index:-1;
    border-radius:6px;
}
.categories-area .col .cat-icon span{
    color:darkslategray;
    font-size:3rem;
    margin-top: 1rem;
    margin-bottom:1.5rem;
    width:100px;
    height:100px;
    background:white;
    line-height:100px;
    text-align:center;
    border-radius:50px;
    display:inline-block;
}
.categories-area .col .cat-cap h5>a{
    color:white;
    font-size:1.5rem;
    font-weight:700;
    margin-bottom:1.5rem;
}

.categories-area .col:hover::before{
    height:100%
}

.togivemargin{
    margin-top: 3rem;
}

.form-to-contact{
    background-color: darkslategray;
    border:2px solid  darkslategray;
    border-radius:6px;
}

.categories-area .form-to-contact{
    animation:fadeInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; 
}

#back-top{
    background: darkslategray;
    height:50px;
    width:50px;
    right:31px;
    bottom:18px;
    position:fixed;
    color:#fff;
    font-size:20px;
    text-align:center;
    border-radius:50%;
    line-height:48px;
    border:2px solid transparent;
    box-shadow:0 0 10px 3px rgba(108,98,98,0.2);
    z-index:2;
    }

@media only screen and (min-width: 576px) and (max-width: 767px)
{
    .topImg{
        margin-top: 2rem;
    }
    .categories-area .col .cat-cap h5>a{
        font-size:1.3rem;
    }

    .categories-area .col .cat-cap a{
        color:white;
        font-weight:600;
    }

    .categories-area .col:hover::before{
        height:100%
    }
}

@media only screen and (max-width: 575.98px) 
{ 
    .navbar .nav-item{
    display: block;
    width:50%;
    padding: 10px 0;
    text-align: center;
    }

    .topnav{
        flex-direction: column;
    }

    .topInfo {
        animation:fadeInLeft; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s; 
    }
    
    .topImg {
        margin-top: 2rem;
        border:2px solid darkslategray;
        border-radius: 6px;
        animation:fadeInRight; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s; 
    }

    .categories-area .col .cat-cap h5>a{
        font-size:1.1rem;
    }
    .categories-area .col .cat-cap a{
        color:white;
        font-weight:600;
    }
    .categories-area .col:hover::before{
        height:100%
    }
    .page-footer .navbar ul{
        flex-wrap: nowrap;
    }
    .page-footer .navbar ul li, .page-footer p{
    line-height: 1;
    }
}

@media only screen and (max-width:375px) 
{ 
    .navbar .nav-item{
        display: block;
        width:50%;
        padding: 10px 0;
        text-align: center;
        }

        .topnav{
            flex-direction: column;
        }

        .topInfo {
            animation:fadeInLeft; /* referring directly to the animation's @keyframe declaration */
            animation-duration: 2s; 
        }
        
        .topImg {
            margin-top: 2rem;
            border:2px solid darkslategray;
            border-radius: 6px;
            animation:fadeInRight; /* referring directly to the animation's @keyframe declaration */
            animation-duration: 2s; 
        }

        .categories-area .col .cat-cap h5>a{
            font-size:1rem;
        }
        .categories-area .col .cat-cap a{
            color:white;
            font-weight:600;
        }

        .categories-area .col:hover::before{
            height:100%
        }
        .page-footer .navbar ul{
            flex-wrap: nowrap;
        }
        .page-footer .navbar ul li, .page-footer p{
            line-height: 1;
}

/* .preloader .preloader-circle{
    width:100px;
    height:100px;
    position:relative;
    border-style:solid;
    border-width:1px;
    border-top-color:darkslategray;
    border-bottom-color:transparent;
    border-left-color:transparent;
    border-right-color:transparent;
    z-index:10;
    border-radius:50%;
    -webkit-box-shadow:0 1px 5px 0 rgba(35,181,185,0.15);
    box-shadow:0 1px 5px 0 rgba(35,181,185,0.15);
    background-color:#fff;
    -webkit-animation:zoom 2000ms infinite ease;
    animation:zoom 2000ms infinite ease;
    -webkit-transition:.6s;-o-transition:.6s;transition:.6s
}

.preloader .preloader-circle2{
    border-top-color:darkslategray;
}

.preloader .preloader-img{
    position:absolute;
    top:50%;
    z-index:200;
    left:0;
    right:0;
    margin:0 auto;
    text-align:center;
    display:inline-block;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    padding-top:6px;
    -webkit-transition:.6s;
    -o-transition:.6s;transition:.6s
}

.preloader .preloader-img img{
    max-width:55px;
}

.preloader .pere-text strong{
    font-weight:800;
    color:darkslategray;
    text-transform:uppercase
}

@-webkit-keyframes zoom{
    0%{
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-transition:.6s;
    -o-transition:.6s;transition:.6s
}

    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
        -webkit-transition:.6s;
        -o-transition:.6s;
        transition:.6s
    }
}

@keyframes zoom{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
        -webkit-transition:.6s;
        -o-transition:.6s;
        transition:.6s
    }
    
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
        -webkit-transition:.6s;
        -o-transition:.6s;transition:.6s
    }
} */
