body,html{
    height:100vh;
    margin:0;
    padding:0;
    color:black;
    scroll-behavior: smooth;
    font-family: 'Roboto';
}

.bg-img{
    background-image: url('../img/splash.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    opacity: 90%;
    color: white;
    position: relative;
}

.to-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    animation:bounce;
    animation-duration: 2s;
}

h1 {
    font-size: 2.6rem;
}

.main-heading{
    font-weight: normal;
    letter-spacing: 2px;
}

.highlight{
    font-weight: 600;
    color: #e6e6e6;
}

a {
    color: white;
}

a:hover{
    color: #e6e6e6;
}

.togivespacing{
    margin-top:5rem;
    margin-bottom:3rem;
}

.my-pic{
    max-height: 450px;
    border-radius: 50%;
    box-shadow:0 0 10px 3px rgba(108,98,98,0.2);
}

.arrow{
    height: 2rem;
    transform: rotate(90deg);
}

.develop , .design {
    height: 250px;
    width: auto;
}

.linked-in , .github{
    height:120px;
    width:auto;
}

.title{
    width: max-content;
    border-bottom: solid black 2px;
}

.links , .links:hover{
    background-color: black;
    border: solid black 3px;
    color: white;
    text-decoration: none;
}

.page-footer{
    background-color: black;
}

#back-top{
    background: black;
    height:50px;
    width:50px;
    right:31px;
    bottom:40px;
    position:fixed;
    color:white;
    font-size:20px;
    text-align:center;
    border-radius:50%;
    line-height:48px;
    border:2px solid transparent;
    box-shadow:0 0 10px 3px rgba(108,98,98,0.2);
    z-index:2;
}

@media only screen and (min-width: 767.98px) and (max-width:992px) 
{ 
    .main-heading{
        padding:0 1rem;
        text-align:center;
    }
    h1{
        font-size: 2.4rem;
    }
    .develop , .design {
        height: 160px;
        width: auto;
    }
    .linked-in , .github{
        height:100px;
        width:auto;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px)
{
    .main-heading{
        padding:0 1rem;
        text-align:center;
    }
    h1{
        font-size: 2.4rem;
    }
    h2{
        font-size: 2rem;
    }
    .develop , .design {
        height: 160px;
        width: auto;
    }
    .for-reversing{
        flex-direction: column-reverse;
    }
    .linked-in , .github{
        height:100px;
        width:auto;
    }
}

@media only screen and (max-width: 575.98px) 
{ 
    .main-heading{
        padding:0 1rem;
        text-align:center;
    }
    h1{
        font-size: 2rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.3rem;
    }
    .togivespacing{
        margin-top:4rem;
        margin-bottom:2rem;
    }
    .develop , .design {
        height: 160px;
        width: auto;
    }
    .for-reversing{
        flex-direction: column-reverse;
    }
    .linked-in , .github{
        height:80px;
        width:auto;
    }
    .page-footer .navbar ul{
        flex-wrap: nowrap;
    }
    .page-footer .navbar ul li, .page-footer p{
    line-height: 1;
    }
}

@media only screen and (max-width:375px) 
{ 
    .main-heading{
        padding:0 1rem;
        text-align:center;
    }
    .develop , .design {
        height: 140px;
        width: auto;
    }
    .togivespacing{
        margin-top:4rem;
        margin-bottom:2rem;
    }
    .for-reversing{
        flex-direction: column-reverse;
    }
    .linked-in , .github{
        height:60px;
        width:auto;
    }
    h1{
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3{
        font-size: 1rem;
    }
    .page-footer .navbar ul{
        flex-wrap: nowrap;
    }
    .page-footer .navbar ul li, .page-footer p{
        line-height: 1;
    }
}

